@use 'reset';
@use 'cv-form';

$primary-color: #536dfe;
$primary-light: #8f9bff;
$primary-dark: #0043ca;
$roboto: "Roboto", sans-serif;

#root {
  display: flex;
  justify-content: space-around;
}

.cv-prev {
  border: 5px solid black;
  width: 210mm;
  height: 297mm;
  display: grid;
  grid-template-columns: 105mm 105mm;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Personal Education"
    "Personal Education"
    "Personal Experience"
    "Personal Experience"
    "Personal Experience";
}

.personal-prev {
  background-color: $primary-light;
  grid-area: Personal;

  .first-last-name {
    text-align: center;
    font-family: $roboto;
    letter-spacing: 2px;
    margin-top: 30mm;
  }

  .personal-info {
    text-align: center;
  }

  .summary-header {
    margin-left: 5mm;
  }

  .summary-header::after {
    display: block;
    content: "";
    border-bottom: 0.2rem solid black;
    width: 50%;
    margin: 0.5rem 0.5rem;
  }

  .title {
    margin-left: 20mm;
    font-size: 20px;
  }

  .summary {
    margin-left: 10mm;
    margin-right: 10mm;
    overflow: hidden;

    width: 45ch;
  }
}

.education {
  grid-area: Education;
  box-sizing: border-box;
  border-left: 2px solid black;
  ul {
    margin-left: 12mm;
    letter-spacing: 0.5px;
  }

  .education-header {
    margin-top: 30mm;
    margin-left: 15mm;
  }
}

.experience {
  grid-area: Experience;
  box-sizing: border-box;
  margin-left: 10mm;


  ul {
    li {
      margin-top: 10mm;

    }
  }
}

.cv-form {
  border: 5px solid black;
  text-align: center;
  width: 40%;
  background-color: #a4a4a4;

  div {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;

    > * {
      input {
        height: 2rem;
        border: 1px solid transparent;
        border-radius: 5px;
      }

      input:focus {
        outline: none;
      }

      textarea:focus {
        outline: none;
      }

      > * {
        margin-top: 0.5rem;
        width: 70%;
        align-self: center;
      }

      button {
      }
    }
  }
}
