@use 'reset';
@use 'cv-form';

$primary-color: #1a3140;
$font-pink: #d2bfb7;
$roboto: "Roboto", sans-serif;
$btn-red: #d50000;
$btn-green: #00c853;
$btn-orange: #ffab00;

#root {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

html {
  background-color: wheat;
}

.cv-prev {
  border: 5px solid black;
  position: sticky;
  background-color: white;
  width: 210mm;
  height: 297mm;
  display: grid;
  grid-template-columns: 105mm 105mm;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Personal Education"
    "Personal Education"
    "Personal Experience"
    "Personal Experience"
    "Personal Experience";
}

.personal-prev {
  background-color: $primary-color;
  grid-area: Personal;
  color: white;

  .first-last-name {
    text-align: center;
    font-family: $roboto;
    letter-spacing: 2px;
    margin-top: 30mm;
    color: $font-pink;
  }

  .title {
    color: $font-pink;
  }

  .personal-info {
    text-align: center;
  }

  .summary-header {
    margin-top: 25mm;
    margin-left: 15mm;
    color: $font-pink;
  }

  .title {
    margin-left: 20mm;
    font-size: 20px;
  }

  .summary {
    margin-left: 15mm;
    margin-right: 10mm;
    overflow: hidden;
    width: 35ch;
    font-size: 19px;
  }
}

.education {
  grid-area: Education;
  box-sizing: border-box;
  border-left: 2px solid black;
  ul {
    margin-left: 12mm;
    letter-spacing: 0.5px;
  }

  .education-header {
    margin-top: 30mm;
    margin-left: 15mm;
  }
}

.experience {
  grid-area: Experience;
  box-sizing: border-box;
  margin-left: 10mm;

  ul {
    li {
      margin-top: 10mm;
    }
  }
}

.cv-form {
  border: 5px solid black;
  text-align: center;
  width: 210mm;
  background-color: $primary-color;

  div {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;

    > * {
      color: $font-pink;
      input {
        height: 2rem;
        border: 1px solid transparent;
        border-radius: 5px;
      }

      input:focus {
        outline: none;
      }

      textarea:focus {
        outline: none;
      }

      > * {
        margin-top: 0.5rem;
        width: 70%;
        align-self: center;
      }

      button {
        cursor: pointer;
        height: 2.5rem;
      }
      .add {
        background-color: $btn-green;
        color: white;
        font-weight: bold;
      }
      .delete {
        background-color: $btn-red;
        color: white;
        font-weight: bold;
      }
    }
  }

  .loadExample {
    width: 70%;
    margin-top: 3rem;
    height: 2.5rem;
    background-color: $btn-orange;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  .print {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 70%;
    height: 2.5rem;
    background-color: $btn-orange;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
}

// lines
.experience-header::after,
.education-header::after {
  display: block;
  content: "";
  border-bottom: 0.2rem solid black;
  width: 50%;
  margin: 0.5rem 0;
}
.summary-header::after {
  display: block;
  content: "";
  border-bottom: 0.2rem solid $font-pink;
  width: 50%;
  margin: 0.5rem 0;
}

.education-header .school .degree .experience-header .company .description {
  color: $primary-color;
}


@media only screen and (max-width: 1638px) {
  .cv-prev {
    margin-top: 2rem;
  }
}